!!! 5
%html
  %head
    %title ChatApp
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag 'src/boot', type: 'module'
    = csrf_meta_tags

  %body
    = render 'layouts/flash'
    #user_name{:data => "current_user.name >"}
    - if user_signed_in?
      %header.header
        .header-left
          .header-logo
            %a{:classname => "header-logo-link", :href => "/"} ChatApp
        .header-right
          %ul.nav.nav-tabs
            %li.search-user-btn
              %a{:href => "/users/search"} ユーザーを探す
            %li.dropdown
              %div{"aria-expanded" => "false", "data-toggle" => "dropdown"}
                - if user_signed_in?
                  =current_user.name
                %span.caret
              %ul.dropdown-menu.user-menu-box
                %li.user-menu-list
                  %a{:href => "/users"} マイページ
                %li.user-menu-list
                  = link_to 'ログアウト', destroy_user_session_path, method: :delete

    = yield
